body {
	min-width: 720px;
	background: #f1f1f1;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
}
.container {
	background: #fff;
	width: 720px;
	margin: 0 auto;
}
.content {
	padding: 20px;
}
.title {
	position: relative;
	background: #008bcb;
	color: #fff;
	padding: 10px 20px;
	margin: 0 -20px 20px -20px;
}
.footer {
	text-align: center;
	font-size: 14px;
	margin-top: 40px;
}
a {
	color: #008bcb;
	text-decoration: underline;
}
a:hover {
	color: #666;
}
p {
	margin: 1em 0;
}
.clear {
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.clearfix {
	overflow: auto;
}
.example {
	margin-bottom: 8px;
}
h1 {
	font-weight: normal;
}
pre {
	display: block;
	padding: 10px;
	margin: 0 0 20px;
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	/*word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;*/
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	overflow-x: auto;
}
code {
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	white-space: pre-wrap;
	padding: 0px 5px;
	background-color: #eee;
}